* {box-sizing: border-box}
.container {
    margin-left: 210px;
    left: 0px;
    max-height: 86px;
    background-image: linear-gradient(0deg, #fece00 0%, #ffe172 100%);
    
  }
  .PatinetDetails1{
    position: absolute;
      top: 170px;
      left:250px;
      min-width: 450px;
      
  
  }
#APDtext{
  right:50px;
  width: 280px;
  
  min-height: fit-content;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 4px solid #ccc;
  border-radius: 10px; 
  box-sizing: border-box;
}


#Parent {
    position: absolute;
    top: 170px;
    right: 50px;
    
    min-width: 460px;
}
#submit1{
  position: absolute;
  top:800px;
  width: 600px;
  right: 300px;
}

#submit2{
  position: absolute;
  top:530px;
  width: 350px;
  right: 200px;
}
#submit3{

  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  width:80px
  
}

#submit10{

  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  width:120px;
  right: 200px;
  top: 600px;
  
}
#right {
  position:absolute;
  top: 80px;
  right: 30px;
  left:500px;
  min-width: 460px;
}
